* {
  margin: 0;
}
header {
  background-color: #0b1531;
  color: rgb(254, 94, 13);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
}
header h1 {
  font-size: 5vw;
}
header nav {
  padding-bottom: 24px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  float: right;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
main {
  width: 100%;
  height: 100vh;
  padding-block: 20px;
}
.hero div{
  position: absolute;
  color: #ff1212;
  width: 100%;
  height: 60vh;
  
}
.banner {
  z-index: -1;
  width: 100%;
  height: inherit;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);

}